.chart{position:relative;}
.btn-gray{background:#E3E4E8; color:#858582}
.profile 
{
    width:400px;
    display: inline-block;
}

.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis 
{
    border-top: 4px solid transparent;
}
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
}
.emphasis h2
{
    margin-bottom:0;
}
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
/* .dropdown-menu 
{

    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    
    
    left: auto;
    ;
} */
.dropdown-menu .divider 
{
    background:none;    
}
.dropdown-menu>li>a
{
    color:#f5f5f5;
}
.dropup .dropdown-menu 
{
    margin-bottom:10px;
}
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}
.toppad
{margin-top:20px;
}

.check-list-item{list-style-type:none;}
.check-list-item  label {

    font-weight: 300;
}
.aui-list-section li{padding-right:10px;}
.social{margin:auto;}
.social ul{list-style-type: none;float:left;display:inline;}
.social ul li{float:left;display:inline;padding-right:20px;}
.hide{display:none;}
.star:hover{background:url('images/star.png');height:14px;}
i {color:#bfbdb3;padding-right:10px;}
h4 {font-weight:600;color:#000;}
a:hover {text-decoration:none;}

/******************** CARD CSS *******************/
.card{box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 0px;

}
.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
.card-block {padding:15px;}
.card-img {border-radius: 0px 0px 0 0;max-height:250px;overflow: hidden;}
/****************  BORDER ***********/
.out-border {border:1px solid #e2e2e2;border-radius:10px 10px;}

.icon{font-size:40px;color:red;}

.last-login{position: absolute;
            bottom :0px;
            background: #fff;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            z-index: 200;

            right: 0;}
.form-group.filter{
    padding: 0 20px 0 10px;
}
.action-icon {display: none;}
.posted-comments { height: 350px; overflow-y: auto; overflow-x: hidden;}
.comment:hover .action-icon{display: block;}
.action-icon span{cursor: pointer}
.padding-left-none{padding-left: 0px;}
.padding-right-none{padding-right: 0px;}
.input-daterange{width: 270px;}
.input-daterange .form-control {width: 115px;}
.date_range_filter{ padding: 0 5px;}
.selected-date-range{width: 100%;}
.dataTables_empty{
    text-align: center;
    color: #a94442;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    padding: 15px !important;
    margin-bottom: 20px;
    border: 1px solid transparent !important;
    border-radius: 4px;
}
#addNewJob .well{
    float: left;
}
#added_files{
    padding: 5px;
}
.removeIt {
    width: auto;
    border: 1px solid lightslategrey;
    float: left;
    padding: 5px;
    margin: 0 5px 5px;
}
#login {
    overflow: hidden;
}
#login-panel{
    margin : 22% 0;
}
#forgot-panel{
    margin : 25% 0;
}
.glyphicon-eye-open {
    color: #a82024
}
.access-control ul li:not(.roles) {
    display: inline;
    float: left;
}
