<% include ../layout/header %>
<div class="fix-left-side left-side-menu">
    <% include ../layout/logo-section %>
    <% include ../layout/left-menu %>
</div>

<% include ../layout/header-right-menu %>
</div>
<div class="content-wrapper">
    <div class="page-name">
        <div class="col-lg-12 col-xs-12">
            <div class="dashboard">Permission</div>
        </div>
    </div>
    <div class="sortable">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Permission Not Granted!
                    <span class="tool-bar pull-right">
                        <a href="javascript:;" class="fa fa-external-link"></a>
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger text-center"><strong>Sorry ! </strong>you are not permitted to access that resource.</div>
                </div>
            </div>
        </div>
    </div>
</div> 
<% include ../layout/footer %>