<div class="left-nav-inner">
    <ul class="nav nav-pills nav-stacked left-custom-nav">
        <li class="left-nav-item ">
            <a href="">
                <i class="fa fa-dashboard"></i>
                <span>My Dashboard</span>
            </a>
            <ul class="left-sub-nav-item">
                <li>
                    <a href="/dashboard"><i class="fa fa-angle-right"></i>Dashboard</a>
                </li>
            </ul>
        </li>
        <li class="left-nav-item ">
            <a href="">
                <i class="fa fa-users"></i>
                <span> Manage Users </span>
            </a>
            <ul class="left-sub-nav-item">
                <li>
                    <a href="/user"><i class="fa fa-angle-right"></i> List Users </a>
                </li>               
            </ul>
        </li>
    </ul>
</div>