<div id="logo">
    <a href="/dashboard">
        <img src="<%=assetsLocation%>/images/logo.png" alt="ffd">
    </a>
</div>
<div class="small-logo text-center">
    <a href="/dashboard">
        <img src="<%=assetsLocation%>/images/logo-icon.png" alt="">
    </a>
</div>